.contenedorFilter{
    width: 93%;
    /* background-color: rgba(0, 173, 192, 0.713);
    border:1px solid rgb(80, 80, 80); */
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    color: rgb(5, 5, 5);
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.contenedorButton{
    padding: 10px;
   
    width: 20%;
    margin: auto; 
    text-align: center;
}

.pageButton{
 
    font-weight: bold;
    color: white;
    border: 0;
    background-color: rgb(0, 192, 64);
    border-radius: 5px;
    margin-left: 5px;
    height: 30px;
}

.pageButton:hover{
    color: black;
   background-color:rgba(20, 230, 90, 0.727); 
}

.pageButton:active{
    background-color:rgb(11, 148, 57); 
}